#main-nav{
background-color: #141414;
padding: 4px;
}

#main-nav ul {
    width: 100%; 
    display: grid;
    grid-template-columns: 1fr auto 2fr;
}

#main-nav ul li{
display: inline-block;
color: #fff6e2;

}

#nav-logo {
    grid-column: 1;
}

.mid-nav{
     grid-column: 2;
}

#right-nav {
    grid-column: 3;
}




