#upload-container {
  margin: 6.5rem auto;
  width: 70vw;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 10px;
  display: grid;
  align-items: center;
}

.upload-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.right-side {
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1.5fr;
}

.right-side i {
  color: #4DB6A5;
  transition: all 0.2s;
}

.right-side i:hover {
  color: rgba(77, 182, 165, 0.678);
}

.right-side a {
  place-self: center;
  text-decoration: none;
  transition: all .2s;
}

.right-side h3 {
  place-self: start center;
}

.right-side span {
  color: #4DB6A5;
  transition: all .2s;
}

.right-side span:hover {
  color: rgba(77, 182, 165, 0.678);
}

#upload-form {
  margin: 0 auto;
  width: 70%;
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

#upload-form input {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid grey;
  padding: 5px;
  transition: all .4s;
  font-family: 'Lexend Deca', sans-serif;
  grid-column: 1 / span 2;
}

#upload-form input:focus {
  transform: scale(1.1);
  border: 1px solid black;
  outline: none;
}

#upload-form textarea {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid grey;
  padding: 5px;
  transition: all .4s;
  font-family: 'Lexend Deca', sans-serif;
  grid-column: 1 / span 2;
}

#upload-form textarea:focus {
  transform: scale(1.1);
  border: 1px solid black;
  outline: none;
}

#upload-form select {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid grey;
  padding: 5px;
  transition: all .4s;
  font-family: 'Lexend Deca', sans-serif;
  grid-column: 1 / span 2;
}

#upload-form select:focus {
  transform: scale(1.1);
  border: 1px solid black;
  outline: none;
}

#upload-form option {
  border-radius: 10px;
  border: none;
}

#upload-form option[value="select-one"] {
  color: grey;
}

#upload-form option:focus {
  border-radius: 10px;
  border: none;
  outline: none;
}

#upload-form button {
  background-color: #ffffff;
  width: 100%;
  margin: .5rem auto 2rem auto;
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: 'Lexend Deca', sans-serif;
  transition: all 0.2s;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.144);
}

button.submit {
  border: 2px solid #4DB6A5;
}

button:hover.submit {
  color: white;
  outline: none;
  background-color: rgba(77, 182, 165, 0.678) !important;
}

button:focus.submit {
  background-color: rgba(77, 182, 165, 0.836) !important;
  outline: none;
}

button.cancel {
  border: 2px solid red;
}

button:hover.cancel {
  color: white;
  background-color: lightcoral !important;
  outline: none;
}

button:focus.cancel {
  background-color: coral !important;
  outline: none;
}