.card{
    text-align: center;
    background-color:#fff;  
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left:25px;
    margin-top:-10%;
    margin: 10;
    margin-left:100px;
    min-width: 20%;
     border-radius: 4%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding-bottom:15%;
    width: 300px;
    grid-area: menu;
    height: 550px;

}

.grid{
display: grid;
grid-template-areas:
'menu right main main main main';
grid-gap: 10px;
padding: 10px;
}

#picture img{
    border-radius: 50%;
    margin-right: 30px;
    margin-left:-20px;
    margin-top: 15%;
    display: block;
    height: 50px;
    width: 50px;
    text-indent: -999em;
    text-decoration: none;
}

.users{
     display: flex;
     margin-top:10px;
     flex-direction: column;
     margin-right:20%;
     margin-left: 55px;
} 


.userName{
    margin: 4%;
    color: black;
    font-size:18px;
}
.userPronoun{
   
    color: black;
    font-size:18px;
}


button:hover, a:hover {
    opacity: 0.7;
  }

  .editButton{
    border: none;
    border-radius: 12%;
    background-color:var(--electra-cool);
    font-size:16px;
    padding: 10px 20px;
    width:50%;
    text-align: center;
    color: white;
    font-family: "Lexend Deca", sans-serif;
    margin-left: 80px;
    
  }

  .profilePic{ 
    width: 150px;
    height: 150px;    
    margin-left:100px;
    margin-top: 10%;
    border-radius: 100px;
    border: 4px solid var(--electra-cool);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  @media screen and (min-width: 480px) {
    .header {max-width: 100px}

  }

  @media screen and (min-width:1920px){
      .header{max-width:100px}
  }

  @media only screen and (min-width: 768px) {
    .header {max-width: 100%;
    }
  }

  @media(min-width:1919){
      .profilePic{margin-left: 20px ;}
  }

  @media (min-width: 1920px){
      .profilePic{height:200px; 
        width: 200px;
    }
  }
  
  .header{
      position: relative ;
      height: 200%;
      max-width: 200%;
      min-width: auto;
      grid-area: header;
      object-fit: contain;
      width: 100%;
      height: 100%;
  }

.small-cards{
width:1000px;
display:flex;
flex-wrap: wrap;
margin-top: 100px;
margin-right: 100px;


}

.small-cards>div{
  background-color: #f1f1f1;
    text-align:center;
    margin-left: 100px;
    margin-top:50px;
  height: 200px;
  width:200px;
  grid-area: main;
}

.upload-profile{
  width: 10px;
}
#crit-upload-im{
  width: 10px;
}

.profile-users{
grid-area: right;
}

.people{
font-size:40px;
}

.bio{
  font-size:20px;
}