#critique-modal-view {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 2em;
  color: var(--electra-white);
}

.img-side {
  height: 650px;
  display: grid;
  grid-template-rows: 6fr 1fr 1fr;
}

.title-author {
  padding-top: 2em;
  font-size: 20px;
}

.crit-img {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.34);
}

.comment-side {
  max-width: 90%;
  padding-left: 30px;
}

#modal-close-button {
  background: var(--electra-grey);
  border: none;
  padding: 1em;
  font-size: 2em;
  float: right;
  text-decoration: none;
}