.modal {
  width: 85%;
  max-width: 800px;
  max-height: 600px;

  margin: auto;
  background-color: var(--electra-white);
  border-radius: 10px;
  line-height: 2rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);

  position: absolute;
  top: 75px;
  right: 10px;
  left: 10px;
  bottom: 10px;
}

.modal .footer {
  width: 100%;
  background-color: var(--electra-black);
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  padding: 1rem;
}

.modal .footer button {
  background-color: #fff;
  border-radius: 5px;
  border: 0;
  outline: none;
  padding: 0.5rem;
  transition: all 0.2s;

  font-family: "Lexend Deca", sans-serif;
}

.modal .footer button:hover {
  background-color: var(--electra-cool);
}