/* @import "./style.css";
*/
:root {
  --electra-orange: #FF5600;
  --electra-cool: #51B5A4;
  --electra-white: #FFF6E2;
  --electra-grey: #444444;
  --electra-black: #141414;
}

#float-button {
  background-color: var(--electra-cool);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: fixed;
  right: 2.2rem;
  bottom: 3rem;
  transition: all 0.2s ease-in 0s;
  z-index: 9999;
  cursor: pointer;
  /* opacity: 0.55; */
}

#float-button:hover {
  background-color: var(--electra-cool);
  opacity: 1;
}

#float-button a {
  background-color: var(--electra-cool);
  width: 3rem;
  height: 3rem;
  display: grid;
}

#float-button img {
  /* width: 150%;
height: 150%;
background-color: var(--electra-cool);
border-radius: 50%;
position: fixed;
right: 10px;
bottom: 10px;
z-index: 9999;
cursor: pointer; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

p {
  margin: 0 0 20px 0;
}

.close {
  background: none;
  color: black;
  border: 0;
}

.gallery {
  margin: 10px;
  margin-top: 70px;
  padding: 30px;
  /* margin: 1rem; */
  width: 80vw;
  margin: 6rem auto 0px auto;
  /* padding: 12rem; */
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  align-content: space-around;
  justify-content: space-between;
}

.gallery img {
  border-radius: 20px;
}

.item {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.34);
  border-radius: 20px;
}

.item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item__overlay {
  background: #ffc60032;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: 0.2s;
  transform: translateY(100%);
  border-radius: 20px;
}

.item__overlay button {
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  font-size: 15px;
  vertical-align: middle;
}

.item__overlay button span {
  font-size: 25px;
}

.item:hover .item__overlay {
  transform: translateY(0);
}

.item.v2 {
  grid-row: span 2;
}

.item.v3 {
  grid-row: span 3;
}

.item.v4 {
  grid-row: span 4;
}

.item.h2 {
  grid-column: span 2;
}

.item.h3 {
  grid-column: span 3;
}

.item.h4 {
  grid-column: span 4;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay-inner {
  background: white;
  width: 700px;
  padding: 20px;
  border-radius: 20px;
}

.overlay img {
  width: 100%;
}