#logo img {
  max-height: 2.5rem;
}

#logo {
  place-self: center start;
  padding-left: 2.5rem;
}

#critiques {
  place-self: center end;
  padding-right: 1rem;
}

#gallery {
  place-self: center start;
  padding-left: 1rem;
}

#profile {
  place-self: center end;
  padding-right: 2.5rem;
}

header {
  max-width: 80%;
}

header nav ul {
  background-color: var(--electra-black);
  width: 100%;
  height: 4rem;
  list-style: none;
  position: fixed;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

header nav li {
  display: inline-block;
}



header nav li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
}

header nav li a:hover {
  color: var(--electra-orange);
}