<<<<<<< HEAD
.signup-container {
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-flow: wrap;
}

.signUp-form .footer {
  width: 100%;
  background-color: #141414;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  padding: 1rem;
}

=======
.signUp-form {
  width: 50%;
}

.signUp-form .input-container {
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-left: 0rem; */
  align-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-flow: wrap;

}

>>>>>>> b01118f749bf72851c9ef2c992f4a1af6ac1eadf
.signUp-form .header {
  background-color: #141414;
  position: absolute;
  font-size: 2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: 1rem;
  margin-left: 6rem;
}

.signUp-form #signUp-title {
  color: #fff6e2;
}

<<<<<<< HEAD
#firstName,
#firstName-title {
=======

.signUp-form #firstName {
>>>>>>> b01118f749bf72851c9ef2c992f4a1af6ac1eadf
  width: 70%;
  padding: 5px;
  margin-left: 1rem;
  margin-top: 3rem;
  border: 0px;
  border-radius: 5px;
<<<<<<< HEAD
=======
  padding-top: 5px;

>>>>>>> b01118f749bf72851c9ef2c992f4a1af6ac1eadf
}

#firstName::placeholder {
  text-align: center;
}

.signUp-form #lastName {
  width: 70%;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: .5rem;
}

#lastName::placeholder {
  text-align: center;
}

.signUp-form #userName {
  width: 70%;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: .5rem;
}

#userName::placeholder {
  text-align: center;
}

.signUp-form #pronoun {
  width: 70%;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: .5rem;
}

#pronoun::placeholder {
  text-align: center;
}

.signUp-form #location {
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
  margin-left: 1rem;
  margin-top: .5rem;
}

#location::placeholder {
  text-align: center;
}

.signUp-form #email {
  width: 70%;
  padding: 5px;
  margin-left: 1rem;
  border: 0px;
  border-radius: 5px;
  margin-top: .5rem;
}

#email::placeholder {
  text-align: center;
}

.signUp-form #password {
  width: 70%;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: .5rem;
}

#password::placeholder {
  text-align: center;
}

.signUp-form #confirmPassword {
  width: 70%;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: .5rem;
}

#confirmPassword::placeholder {
  text-align: center;
}

.signUp-form #signUpButton {
  background-color: #fff;
  border-radius: 5px;
  border: 0;
  outline: none;
  padding: 0.5rem;
  transition: all 0.2s;
  margin-top: 1rem;
  position: absolute;
  top: 500px;
  font-family: "Lexend Deca", sans-serif;
}

#signUpButton:hover {
  background-color: #51b5a4;
<<<<<<< HEAD
}
=======

}
>>>>>>> b01118f749bf72851c9ef2c992f4a1af6ac1eadf
