/* @import url('https://font.googleapis.com/css?family=Lexend+Deca&display=swap'); */
@import "./reset.css";
@import "./navigation.css";
@import "./gallery.css";
@import "./signup.css";
@import "./userProfile.css";
@import "./upload.css";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-family: 'Lexend Deca', sans-serif;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
  padding: 0;
  background: #fff6e2;
}